<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>Table 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Table #02</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
								<th scope="col">id</th>
								<th scope="col">Email</th>
								<th scope="col">FirstName</th>
								<th scope="col">LastName</th>
								<th scope="col">TypeOfBusiness</th>
								<th scope="col">Enabled</th>

							</tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert" th:each = " loginEntity: ${userList}">
						      <th scope="row">001</th>
								<td th:text ="${loginEntity.id}"/>
								<td th:text ="${loginEntity.email}"/>
								<td th:text ="${loginEntity.firstName}"/>
								<td th:text ="${loginEntity.lastName}"/>
								<td th:text ="${loginEntity.typeOfBusiness}"/>
								<td th:text ="${loginEntity.enabled}"/>
						      	<a href="#" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</a>
				        	</td>
						    </tr>

						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

